<!--register頁面的errors-->
{{#if errors}}
{{#each errors}}
<!--若errors陣列存在-->
<!-- bootstrap dismissing :簡短 可被刪除的訊息匡-->
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{this.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/each}}
{{/if}}

<!--若成功登出訊息存在-->
{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{success_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}

<!--login頁面判斷是否登入頁面的meg-->
{{#if warning_msg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{warning_msg}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}