<form action="/todos/{{todo.id}}/edit?_method=PUT" method="POST">
  <!--以POST方法向/todos/:id/edit發出請求，不是導向頁面，導向頁面是由app.js中設定-->

  <div class="input-group">

    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="done" {{#if todo.done}}checked{{/if}}>
      </div>
    </div>

    <input type="text" class="form-control" name="name" value="{{todo.name}}">

    <div class="input-group-append">
      <button type="submit" class='btn btn-success'>Edit</button>
    </div>

  </div>

</form>