<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h1 class='text-center mb-3'>Register</h1>

      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter name" class="form-control">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Enter email" class="form-control">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" placeholder="Enter password" class="form-control">
        </div>

        <div class="form-group">
          <label for="password2">Comfirm Password</label>
          <input type="password" name="password2" id="password2" placeholder="Enter password" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary btn-block">Login</button>

        <p class="mt-4">Have an account?<a href="/users/login">Login</a></p>

      </form>
    </div>
  </div>
</div>